*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
  height: 100vh;
  position: relative;
}
h1 {
  margin-top: 5rem;
  font-size: 3.4rem;
  color: #777;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}
.categories {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  text-align: center;
}
.products {
  display: flex;
  justify-content: space-between;
}
.cards {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 16px;
}

@media screen and (max-width: 1300px) {
  .categories button {
    font-size: 28px;
  }
  .cards {
      grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 970px) {
  .categories {
    margin: 5px 0;
  }
  h1 {
      font-size: 33px;
  }
  .cards {
      grid-template-columns: auto;
  }
}
@media screen and (max-width: 670px) {
  .categories button {
    font-size: 20px;
    padding: 5px;
  }
}
