*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
  height: 100vh;
  position: relative;
}
h1 {
  margin-top: 5rem;
  font-size: 3rem;
  color: #777;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}

.products {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 970px) {
  .categories {
    margin: 5px 0;
  }
  h1 {
      font-size: 2rem;
  }
}
