.left-half {
  background: url(../../../assets/images/login.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  height: 100vh;
}
.right-half {
  background-color: #fff;
  position: absolute;
  right: 0;
  height: 100vh;
  padding: 6rem 4rem;
}
@media screen and (max-width:600px) {
  .right-half {
    padding: 6rem 2rem;
  }
}


