<nav class="navbar navbar-expand-md fixed-top navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Aspan Furniture</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contacts</a>
        </li>
      </ul>
      <ul class="nav navbar-nav mr-0 user">
        <li class="nav-item">
          <a class="nav-link" routerLink="/account"><i class="fa fa-user"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/wishlist"><i class="fa fa-heart"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart"><i class="fa fa-shopping-cart"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
