.card {
  margin-top: 25px;
}
.card-header {
  font-size: 24px;
  padding: 9px 20px;
}
.card .details {
  text-align: justify;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: 'Cabin', sans-serif;
}
.card select,
.card .addBtn button {
  width: 120px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Pacifico', sans-serif;
  padding: 6px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.card select {
  padding: 2px;
}
.card .field {
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
}
