<div class="sellers">
  <h2>Best Sellers</h2>
  <div class="row">

      <div class="column col-md-4 col-xs-1">
        <img src="../../assets/images/sellers/12.jpg">
        <div class="middle">
            <div class="text">Fancy Lamp</div>
          </div>
      </div>

      <div class="column col-md-4 col-xs-1">
          <img src="../../assets/images/sellers/4.jpg">
          <div class="middle">
              <div class="text">Modern desk</div>
            </div>
      </div>

      <div class="column col-md-4 col-xs-1">
        <img src="../../assets/images/sellers/7.jpg">
        <div class="middle">
            <div class="text">Powerful Closet</div>
          </div>
      </div>

      <div class="column col-md-4 col-xs-1">
        <img src="../../assets/images/sellers/11.jpg">
        <div class="middle">
            <div class="text">White sofa</div>
          </div>
      </div>

  </div>
</div>
