<footer>
    <form>
        <div class="container">
          <h2>Subscribe to receive the best offers</h2>
          <input type="text" placeholder="Name" name="name" required>
          <input type="text" placeholder="Email address" name="mail" required>
        </div>
        <div class="container">
          <input type="submit" value="Subscribe">
        </div>
      </form>
    <p>&copy; 2010-2018 Aspan Furniture Company, Inc. &middot; <a href="#">Privacy Policy</a> &middot; <a href="#">Responsible Disclosure</a></p>
</footer>
