nav {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: .7px solid #ccc;
  width: 100vw;
}
.navbar-dark .navbar-brand {
  color: #666;
  font-size: 1.5rem;
  font-family: 'Pacifico', cursive;
}
.navbar-dark .navbar-brand:hover,
nav #navbar .nav-link:hover {
  color: #333;
  font-weight: 500;
}
nav #navbar .nav-link{
  color: #666;
  font-size: 1.3rem;
  font-weight: 400;
  position: relative;
  padding: 0 0.6rem;
  cursor: pointer;
}
nav #navbar .nav-link i {
  padding: 0 0.6rem;
}
nav .navbar-toggler .navbar-toggler-icon {
  color: #444;
  padding: 4px;
}
.active {
  border: 1px solid #aaa;
  padding: 0 3px;
}
@media screen and (max-width: 705px) {
  nav {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

