.wishlist {
  padding-top: 5rem;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 7rem;
}
.wishlist h3 {
  font-size: 5rem;
  padding: 16px 0;
  color: #777;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}
.table tbody > tr > th > img {
  width: 80px;
  height: 70px;
}
.table {
  text-align: center;
  font-size: 18px;
}
.table tbody tr .add,
.table tbody tr .del {
  cursor: pointer;
  font-size: 16px;
  color: rgb(128, 50, 50);
  font-weight: bold;
}
.table tbody tr .add {
  color: rgb(82, 110, 56);
}
.deleted {
  display: none;
}
@media screen and (max-width: 1400px) {
  .wishlist {
      width: 90%;
  }
  .wishlist h3 {
      font-size: 3.7rem;
  }
  .table tbody > tr > th > img {
      width: 60px;
      height: 50px;
  }
  .table {
      font-size: 16px;
  }
  .table tbody > tr > td input {
      width: 36px;
  }
}
@media screen and (max-width: 600px) {
  .wishlist {
      width: 100%;
  }
  .wishlist h3 {
      font-size: 2.2rem;
  }
  .table tbody > tr > th > img {
      width: 30px;
      height: 30px;
  }
  .table {
      font-size: 12px;
  }
  .table tbody > tr > td input {
      width: 26px;
  }
}
