*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.info {
  padding-top: 5rem;
}
h2 {
  font-size: 4rem;
  color: #777;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}
.card-deck .card {
  min-width: 300px;
}
.card-deck .card .card-header {
  background: #FFEFBA;
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  outline: none;
}
.card-deck .card .card-header i{
  font-size: 45px;
  color: #333;
  padding: 10px 0;
}
.card-deck .card .card-body p {
  font-size: 22px;
  color: #777;
  text-align: center;
  font-family: 'Pacifico', sans-serif;
}
ul >li,
ul >li > a {
  text-decoration: none;
  list-style: none;
  color: #444;
  font-size: 20px;
}
ul >li a{
  cursor: pointer;
}
ul >li a:hover {
  color: #444;
}
