<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <div class="form-group row">
    <label for="category" class="col-sm-2 col-form-label">Category</label>
    <select
      formControlName="furniture_category_id"
      id="category"
      class="form-control col-sm-8">
      <option *ngFor="let category of apiCategories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>

  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <input
      type="text"
      name="name"
      formControlName="name"
      id="name"
      class="form-control col-sm-8">
      <span
        *ngIf="!productForm.get('name').valid && productForm.get('name').touched"
        class="help-block col-sm-8">Name is mandatory
      </span>
  </div>

  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Description</label>
    <textarea
      formControlName="description"
      id="description"
      class="form-control col-sm-8"
      rows="3">
    </textarea>
    <span
      *ngIf="!productForm.get('description').valid && productForm.get('description').touched"
      class="help-block col-sm-8">Description is mandatory
    </span>
  </div>

  <div class="form-group row">
    <label for="availability" class="col-sm-2 col-form-label">Availability</label>
    <select
      formControlName="availability"
      id="availability"
      class="form-control col-sm-8">
      <option *ngFor="let availability of allAvailability" [value]="availability.status">{{ availability.status }}
      </option>
    </select>
  </div>


  <div class="form-group row">
    <label for="color" class="col-sm-2 col-form-label">Color</label>
    <input
      formControlName="color"
      type="text"
      id="color"
      class="form-control col-sm-8">
  </div>


  <div class="form-group row">
    <label for="price" class="col-sm-2 col-form-label">Price</label>
    <input
      formControlName="price"
      pattern="[+-]?([0-9]*[.])?[0-9]+"
      type="text"
      id="price"
      class="form-control col-sm-8">
      <span
        *ngIf="!productForm.get('price').valid && productForm.get('price').touched"
        class="help-block col-sm-8">
        <span
          *ngIf="productForm.get('price').errors['pattern']"
          class="help-block col-sm-12">Price must contain only numbers</span>
        <span
        *ngIf="productForm.get('price').errors['required']"
        class="help-block col-sm-12">Price is mandatory</span>
      </span>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <button
        type="submit"
        class="btn"
        [disabled]="!productForm.valid">Save</button>
      <button
        type="button"
        class="btn"
        (click)="onCancel()">Cancel</button>
    </div>
  </div>
</form>
