<div class="info text-center">
  <h1>Get in Touch</h1>
  <div class="container">
    <div class="card-deck">
      <div class="card box-shadow">
        <div class="card-header">
            <i class="fa fa-phone"></i>
        </div>
        <div class="card-body">
          <ul>
            <p class="phone">Call us maybe</p>
            <li>+123 456 789</li>
            <li>0046565758</li>
            <li>+013 565 758</li>
          </ul>
        </div>
      </div>
      <div class="card box-shadow">
        <div class="card-header">
            <i class="fa fa-map"></i>
        </div>
        <div class="card-body">
          <ul>
            <p class="address">Come visit our showroom</p>
            <li>Central Office</li>
            <li>Ion Creanga Street,nr.2</li>
            <li>Chisinau, MD</li>
          </ul>
        </div>
      </div>
      <div class="card box-shadow">
        <div class="card-header">
            <i class="fa fa-envelope"></i>
        </div>
        <div class="card-body">
          <ul>
            <p class="email">Send us an email</p>
            <li><a href="mailto:appointment@gmail.com.com?Subject=Hello%20again" target="_top">appointment@gmail.com</a></li>
            <li><a href="mailto:storage@test.com?Subject=Hello%20again" target="_top">storage@test.com</a></li>
            <li><a href="mailto:showroom@mail.com?Subject=Hello%20again" target="_top">showroom@mail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="map">
  <h1>Come see our place</h1>
  <iframe width="500" height="300" src="https://maps.tilehosting.com/styles/streets/?key=zBlHPjrAT6zI083aEphV#17.32/47.03759/28.81379">
  </iframe>
</div>
