<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Visibility</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of apiCategories">
        <th scope="row">{{ category.id }}</th>
        <td>{{ category.name }}</td>
        <td>{{ category.visible }}</td>
        <td><i class="fa fa-edit" (click)="editCategory(category)"></i></td>
        <td><i class="fa fa-trash" (click)="deleteCategory(category)"></i></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <button class="btn" (click)="addNewCategory()">Add new category</button>
      </tr>
    </tfoot>
  </table>
</div>
