  <div class="container">
  <h2>Add a new product</h2>
  <form #newProductForm="ngForm" (ngSubmit)="onSubmit(newProductForm.value)">

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label for="category">Category</label>
          <select
            name="furniture_category_id"
            ngModel
            id="category"
            class="form-control">
            <option *ngFor="let category of apiCategories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            ngModel
            id="name"
            class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            name="description"
            ngModel
            id="description"
            class="form-control"
            rows="3"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label for="availability">Availability</label>
          <input
            name="availability"
            ngModel
            type="text"
            id="availability"
            class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label for="color">Color</label>
          <input
            name="color"
            ngModel
            type="text"
            id="color"
            class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label for="price">Price</label>
          <input
            name="price"
            ngModel
            type="number"
            id="price"
            class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label for="imagePath">Image URL</label>
          <input
            name="img"
            ngModel
            type="text"
            id="imagePath"
            class="form-control"
            #imagePath>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
          <img [src]="imagePath.value" alt="" class="img-responsive">
      </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
          <button
            type="submit"
            class="btn">Add New Product</button>
          <button
            type="button"
            class="btn"
            (click)="onCancel()">Cancel</button>
        </div>
      </div>
  </form>
</div>

<!-- <div class='card'>
  <div class='card-header'>
  {{ pageTitle }}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>

        <div class='row'>
          <div class='col-md-3 field'>Name:</div>
          <input type="text" class="col-md-9">
        </div>

        <div class='row'>
          <div class='col-md-3 field'>Description:</div>
          <textarea type="text" class="col-md-9"></textarea>
        </div>

        <div class='row'>
          <div class='col-md-3 field'>Color:</div>
          <input type="text" class="col-md-9">
        </div>

        <div class='row'>
          <div class='col-md-3 field'>Availability:</div>
          <input type="text" class="col-md-9">
        </div>

        <div class='row'>
          <div class='col-md-3 field'>Price:</div>
          <input type="number" class="col-md-9">
        </div>

        <div class='row'>
          <div class='col-md-3 field'>Upload new image:</div>
          <input type="text" class="col-md-9">
        </div>

      <hr>
      <br>
      <div class="row">
        <button class="col-md-3 btn save" (click)="onAddNewProduct(product)">Add new product</button>
      </div>
    </div>
  </div>
</div> -->
