button {
  margin-right: 10px;
  border: 1px solid #666;
  font-weight: bold;
  background-color: rgba(236, 236, 236, 0.5);
  color: #333;
}
input.ng-invalid.ng-touched{
  border: 1px solid rgb(218, 119, 119);
}
span.help-block {
  display: block;
  margin: 0 auto;
  padding: 0;
}
