.arrivals {
  padding: 20px 0;
  width: 76%;
  margin: 0 auto;
}
.arrivals h2 {
  margin-top: 2rem;
  font-size: 4rem;
  color: #777;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}
.card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  min-width: 300px;
}
.arrivals img {
  width: auto;
  max-height: 320px;
}
.arrivals .card-body .card-title span {
  color: rgb(231, 160, 78);
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 1rem;
}
.arrivals .card-body .card-title {
  font-size: 1.3rem;
  color: #666;
  font-weight: bold;
}
p.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200ch;
}
.arrivals .card-body button {
  padding: 4px 2px;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
@media screen and (max-width: 1000px) {
  .arrivals h2 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 600px) {
  .arrivals h2 {
    font-size: 2.5rem;
  }
}
