<div class="arrivals" (click)="getProducts()">
  <h2>New Arrivals</h2>
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div
        class="card mb-4 box-shadow" *ngFor="let latest of latest_products">
        <img class="card-img-top" src="../../assets/images/products/frn13.jpg" alt="Dinning Set">
        <div class="card-body">
          <p class="card-title"><span>New</span>  {{ latest.name }}</p>
          <p class="card-text"> {{ latest.description }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-md btn-outline-secondary">View details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="../../assets/images/products/frn3.jpg" alt="Sofa">
        <div class="card-body">
          <p class="card-title"><span>New</span>  Modern Bonded Sofa</p>
          <p class="card-text">Casual in color, yet dramatic in design, this sectional sofa is inviting in a sitting area and living room</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-md btn-outline-secondary">View details</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="../../assets/images/products/frn18.jpg" alt="Closet">
        <div class="card-body">
          <p class="card-title"><span>New</span>  Loft Closet Oceanstar</p>
          <p class="card-text">Having the best closet door will lead you to the upper level of good decoration at home</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-md btn-outline-secondary">View details</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  </div> <!-- End of the row-->
</div>
