<div class="arrivals">
  <h2>New Arrivals</h2>

    <div class="card-deck row">
      <div class="card col-lg-4 col-sm-12" *ngFor="let latest of latest_products">
        <img class="card-img-top img-fluid" src="../../assets/images/products/frn13.jpg" alt="Dinning Set">
        <div class="card-body">
          <p class="card-title"><span>New</span>  {{ latest.name }}</p>
          <p class="card-text"> {{ latest.description }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-md btn-outline-secondary">View details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
