*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    position: relative;
}
 h1 {
    margin-top: 5rem;
    font-size: 3.4rem;
    color: #777;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}
.categories {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.categories button {
  color: #777;
  font-size: 34px;
  background-color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  letter-spacing: -1.5px;
  padding: 8px 4px;
}
.categories button:hover {
  color: #222;
  font-weight: 400;
  outline: none;
}
.products {
    display: flex;
    justify-content: space-between;
}
.cards {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 16px;
}
.card {
    max-width: 363px;
    margin-top: 12px;
    cursor: pointer;
    max-height: 460px;
}
.card:hover {
    box-shadow: 1px 2px 3px 2px #ddd;
    transform: scale(1.03);
}
.products .cards img {
    width: 330px;
    height: 330px;
    margin: 0 auto;
    text-align: center;
}
.products .card .description {
    display: grid;
    grid-template-columns: 45% 25% 20%;
    position: relative;
    grid-column-gap: 20px;
}
.products .cards .card .description p{
    margin-bottom: 0;
}
.products .cards .card .description a {
    text-decoration: none;
}
.products .cards .card .description a .name {
    font-size: 22px;
    text-transform: capitalize;
    color: #666;
    font-family: 'Pacifico', sans-serif;
}
.products .cards .card .description a .name:hover {
    color: rgb(68, 61, 46);
}
.products .cards .card .description .price {
    font-size: 18px;
    color: rgb(184, 153, 91);
    font-weight: bold;
}
.products .cards .card .description .availability {
    color: #666;
    font-size: 18px;
}
.products .cards .card .description .descr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
    grid-column-start: 1;
    grid-column-end: 4;
}
.products .cards .card .shopping {
    display: grid;
    grid-template-columns: 50% 50%;
}
.products .cards .card .shopping .add{
    max-height: 30px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-top: 2px solid #999;
    background-color: #fff;
}
.products .cards .card .shopping .added::after {
    content: "- Added";
}

.products .cards .card .shopping .add:hover {
    color: #333;
    font-weight: bold;
}
.products .cards .card .shopping select {
    height: 30px;
    font-size: 15px;
}
.card:hover .overlay {
    opacity: 1;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    height: 330px;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    background-color: rgba(255, 255, 255, 0.7);
}
.card:hover .overlay {
    opacity: 1;
}
.overlay .fa-heart{
    color: rgb(172, 115, 139);
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay .fa-heart:hover,{
    color: rgb(172, 90, 125);
}
.added {
    opacity: 1;
}


@media screen and (max-width: 1300px) {
  .categories button {
    font-size: 28px;
  }
  .cards {
      grid-template-columns: auto auto;
  }
  .products .cards .card .description .name,
  .products .cards .card .description .price {
      font-size: 18px;
  }
  .products .cards .card .description .availability {
      font-size: 15px;
  }
}
@media screen and (max-width: 970px) {
    h1 {
        font-size: 33px;
    }
    .cards {
        grid-template-columns: auto;
    }
    .products .cards .card .description .name,
    .products .cards .card .description .price {
        font-size: 16px;
    }
    .products .cards .card .description .availability {
        font-size: 13px;
    }
}
@media screen and (max-width: 670px) {
  .categories button {
    font-size: 20px;
    padding: 5px;
  }
  .products .cards .card {
      max-width: 303px;
      margin-top: 12px;
      cursor: pointer;
      max-height: 360px;
  }
  .products .cards .card .description .descr{
      display: none;
  }
  .products .cards img {
      width: 300px;
      height: 300px;
  }
}
