<h1>Choose your favourite product</h1>
<section class="products row">

  <div class="categories col-3" id="categories">
      <button *ngFor="let category of categories$ | async"
              class="list-group-item"
              attr.data-id={{category.id}}
              (click)="getProducts(category.id)">
        {{ category.name }}
      </button>

  </div>
  <div class="cards col-9" id="cards">
      <div class="card" *ngFor="let product of products$; let i = index">
          <img src="images/products/frn1.jpg">
          <div class="description">
              <a href="#"><p class="name">{{ product.name }}</p></a>
              <p class="price">{{ product.price }}</p>
              <p class="availability">{{ product.availability }}</p>
              <p class="color" hidden>{{ product.color }}</p>
              <p class="descr">{{ product.description }}</p>
          </div>
          <div class="shopping">
            <button class="add" (click)="addToCart(this.product)">Add to cart</button>
            <select id="quantity" class="form-control" [(ngModel)]="this.product.option">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="overlay">
              <i class="fa fa-heart" (click)="addToWishlist(this.product)"></i>
          </div>
      </div>
  </div>
</section>

