<section class="prod-details">
  <div class="image">
      <img  id="img" src="images/products/frn10.jpg">
  </div>
  <div class="details" id="details">
      <h3 class="name"><span id="name">{{ product.name }}</span></h3>
      <hr>
      <p class="price"><span id="price">{{ product.price }}</span>$</p>
      <p class="description"><span id="description">{{ product.description }}</span></p>
      <p class="color">Color: <span id="color">{{ product.color }}</span></p>
      <p class="availability">Availability: <span id="availability">{{ product.availability }}</span></p>

      <div class="shop">
          <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <button class="add">Add to cart</button>
      </div>
  </div>
</section>
