<h4>Manage products</h4>
<div class="table-responsive">
  <table class="table table-hover" matSort (matSortChange)="sortData($event)">
    <thead>
      <tr>
        <th mat-sort-header="id" scope="col">Id</th>
        <th mat-sort-header="name" scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Availability</th>
        <th scope="col">Price</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of apiProducts">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.availability }}</td>
        <td>{{ product.price }}</td>
        <td><i class="fa fa-edit" (click)="editProduct(product)"></i></td>
        <td><i class="fa fa-trash" (click)="openConfirmation(content)"></i></td>

        <ng-template #content let-close="close()" let-dismiss="dismiss()">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Delete product</h4>
            <button type="button" class="close" aria-label="Close" (click)="dismiss">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>You are about to delete <span>{{ product.name }}</span></p>
            <p>Do you want to proceed?</p>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="deleteProduct(product)">Yes</button>
            <button type="button" (click)="close">No</button>
          </div>
        </ng-template>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <button class="btn" (click)="addProduct()">Add new product</button>
      </tr>
    </tfoot>
  </table>
</div>
