<div class='card'
     *ngIf='product'>
  <div class='card-header'>
    {{pageTitle + ': ' + product.name}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-3 field'>Name:</div>
          <div class='col-md-5 details'>{{product.name}}</div>
          <input type="text" class="col-md-4" placeholder="New Name">
        </div>
        <div class='row'>
          <div class='col-md-3 field'>Description:</div>
          <div class='col-md-5 details'>{{product.description}}</div>
          <textarea type="text" class="col-md-4" placeholder="New Description"></textarea>
        </div>
        <div class='row'>
          <div class='col-md-3 field'>Color:</div>
          <div class='col-md-5 details'>{{product.color}}</div>
          <input type="text" class="col-md-4" placeholder="New Color">
        </div>
        <div class='row'>
          <div class='col-md-3 field'>Availability:</div>
          <div class='col-md-5 details'>{{product.availability}}</div>
          <input type="text" class="col-md-4" placeholder="New Status">
        </div>
        <div class='row'>
          <div class='col-md-3 field'>Price:</div>
          <div class='col-md-5 details'>{{product.price|currency:'USD':'symbol'}}</div>
          <input type="number" class="col-md-4" placeholder="New Price">
        </div>
        <hr>
        <br>
        <div class="row">
          <button class="col-md-3 btn">Save changes</button>
          <button class="col-md-3 btn">Delete</button>
        </div>
    </div>
  </div>
</div>
