<ngb-carousel>
  <ng-template ngbSlide>
    <img src="../../assets/images/7.jpeg" alt="Random first slide" class="img-fluid">
    <div class="carousel-caption text-left">
        <h1>Bedroom</h1>
        <p>That moment when life is perfect</p>
        <a class="btn btn-lg" href="#" role="button"><span>Explore the collection</span></a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/images/3.jpg" alt="Random second slide" class="img-fluid">
    <div class="carousel-caption text-center">
        <h1>Dining</h1>
        <p>That moment when you want to stay a little longer</p>
        <a class="btn btn-lg" href="#" role="button"><span>Explore the collection</span></a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/images/9.jpeg" alt="Random third slide" class="img-fluid">
    <div class="carousel-caption text-right">
        <h1>Living room</h1>
        <p>That moment when everybody adores your house</p>
        <a class="btn btn-lg" href="#" role="button"><span>Explore the collection</span></a>
    </div>
  </ng-template>
</ngb-carousel>
